@import url('../bootstrap/bootstrap.min.css');
@import url('../bootstrap/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: "B Yekan";
    src: url("../Yekan.ttf") format('ttf');
}

body{
    background-color: black;
    font-family: "B Yekan";
}
a:hover {
    background-color: black;
}
.nav-pic {
    width: 100px;
    height: 100px;
}

.nav-pad {
    margin-right: 40% !important;
    text-align: center;
    font-size: larger;

}
.nav-icon{font-size: 2rem;}
.body-pic{
    margin: 9%;

}
.text{
    padding-top: 10%;
}
.body-card{
    border: black;
}
h2{
    text-align: center;
    font-size: 40px;
    color:#bdbdbd;
}
h4{
    text-align: center;
    font-size: 30px;
    color: #bdbdbd;
}


