@import url('../bootstrap/bootstrap.min.css');
@import url('../bootstrap/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../about/about.css');

@font-face {
    font-family: "B Yekan";
    src: url("../Yekan.ttf") format('ttf');
}
body{
    direction: rtl;
    font-family: "B Yekan";
}
.forms{
width: 75%;
}
form{
    border-radius: 16px;
    border: 1px solid white;
    padding: 20px;
}
.footer-icon{
    color: #757575;
    padding: 9px;
    font-size: 25px;
    font-weight: bold;
}
