@import url('../bootstrap/bootstrap.min.css');
@import url('../bootstrap/bootstrap.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@font-face {
    font-family: "B Yekan";
    src: url("../Yekan.ttf") format('ttf');
}
body {
    font-family: "B Yekan";
    background-color: black;
}

a:hover {
    background-color: black;
}

.nav-pic {
    width: 100px;
    height: 100px;
}

.nav-pad {
    margin-right: 40% !important;
    text-align: center;
    font-size: larger;

}

.nav-icon {
    font-size: 2rem;
}

.hr {
    border-top: 1px solid #eee;
    width: 200px;
    margin: 20px 0;
}

section {
    text-align: right;
    direction: rtl;
    padding-top: 10%;
}

h3   {
    color: #f1f1f1;
}
h5{
    color: #5a6268;
}

p {
    color: #d2d0d7;
}
.scil1{
    background-color: #5a6268;
    width: 80%;

}
.scil2{
    background-color: white;
    height: 28px;
    width: 70%;
}
.scil3{
    background-color: white;
    height: 28px;
    width: 50%;
}
.scil4{
    background-color: white;
    height: 28px;
    width: 85%;
}
button{
    width: 140px;
    border-radius: 28px;

}
.resome{
    border-radius: 20px;
    width: 133px;
}
